body{
    margin: 0px;
    padding: 0px;
}
.background{
    background-color:#D9E8E5;
    height: 90vh;
    margin-top: 140px;
    z-index: -1;
}
.website-header{
    background-color: #eedbcd;
    display: grid;
    grid-template-columns: 400px repeat(5, 1fr);
    position: fixed;
    align-items: center;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 140px;
    border-bottom: 3px dotted black;
}
.title{
    height: 140px;
    width: 100%;
}
.image-wrap-margin{
    margin-right: 60px;
}
.pinned-topic{
    width: 140px;
    font-size: 21pt;
    font-family: "Playfair Display";
    font-weight: 600;
    color: #175a4c;
    background-color: #e0dce5;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    cursor: pointer;
    transition: color .2s, background-color .2s;
}
.pinned-topic:hover{
    color: #e0dce5;
    background-color: #175a4c;
}
.article-output-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article-display{
    display: flex;
    width: 2000px;
    height: 200px;
    background-color: orange;
    padding: 0px;
    padding: 1% 2% 1% 2%;
}
.article-display-left{
    display: flex;
    flex-direction: column;
    width: 80%;
    height:100%;
    background-color: red;
}
.article-display-first-textline{
    display: flex;
    height:32%;
    background-color: yellow;
}
.article-display-title-wrap{
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    
}
.article-display-title{
    width:100%;
    font-size: 20pt;
    padding: 0px 0px 0px 2%;
    margin: 0px;
    background-color: green;
}
.article-display-date-wrap{
    display: flex;
    align-items: center;
    width: 28%;
    margin-left: 2%;
}
.article-display-date{
    width: 100%;
    font-size: 20pt;
    padding: 0px 0px 0px 2%;
    margin: 0px;
    background-color: blue;
}
.article-display-right{
    height: 100%;
    width:18%;
    margin-left: 2%;
}
.article-display-image{
    height: 100%;
    width: 100%;
}