body{
    margin: 0px;
    padding: 0px;
}
.background{
    background-color:#D9E8E5;
    height: calc(100vh - 140px);
    margin-top: 140px;
    z-index: -1;
}
.website-header{
    background-color: #eedbcd;
    display: grid;
    grid-template-columns: 400px repeat(5, 1fr);
    position: fixed;
    align-items: center;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 140px;
    border-bottom: 3px dotted black;
}
.title{
    height: 140px;
    width: 100%;
}
.image-wrap-margin{
    margin-right: 60px;
}
.pinned-topic{
    width: 140px;
    font-size: 21pt;
    font-family: "Playfair Display";
    font-weight: 600;
    color: #175a4c;
    background-color: #e0dce5;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    cursor: pointer;
    transition: color .2s, background-color .2s;
}
.pinned-topic:hover{
    color: #e0dce5;
    background-color: #175a4c;
}
.article-output-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.article-display{
    display: flex;
    width: 1600px;
    height: 200px;
    background-color: #CEC4D4;
    padding: 0px;
    padding: 16px;
    border-width: 10px;
    border-style:double;
    border-radius: 20px;
    border-color: #175a4c;
}
.article-display-left{
    display: flex;
    flex-direction: column;
    width: 80%;
    height:100%;
}
.article-display-first-textline{
    display: flex;
    height:30%;
    align-items: center;
}
.article-display-title-wrap{
    display: flex;
    width: 60%;
    height: 100%;
    margin-left: 2%;
    align-items: center;
}
.article-display-title{
    white-space: nowrap;
    font-family: "Gabarito";
    font-size: 22pt;
    font-weight: 600;
    margin: 0px;
    width: 92%;
    background-color: #DECFD7;
    padding: 4px 18px 4px 18px;
    border-radius: 14px;
    border-color: #175a4c;
    border-style: double;
    border-width: 4px;
}
.article-display-date-wrap{
    display: flex;
    align-items: center;
    width: 38%;
    margin-left: 2%;
}
.article-display-date{
    display: inline-block;
    font-family: "Gabarito";
    font-size: 20pt;
    font-weight: 300;
    margin: 0px;
    width: 85%;
    background-color: #DECFD7;
    padding: 4px 18px 4px 18px;
    border-radius: 14px;
    border-color: #175a4c;
    border-style: double;
    border-width: 4px;
}
.article-display-second-textline{
    display: flex;
    height:30%;
    align-items: center;
    margin-top: 1%;
}
.article-display-author-wrap{
    display: flex;
    width: 60%;
    height: 100%;
    margin-left: 2%;
    align-items: center;
    
}
.article-display-author{
    display: inline-block;
    font-family: "Gabarito";
    font-size: 18pt;
    font-weight: 600;
    margin: 0px;
    width: 92%;
    background-color: #DECFD7;
    padding: 4px 18px 4px 18px;
    border-radius: 14px;
    border-color: #175a4c;
    border-style: double;
    border-width: 4px;
}
.article-display-source-wrap{
    display: flex;
    align-items: center;
    width: 38%;
    margin-left: 2%;
}
.article-display-source{
    font-size: 20pt;
    font-family: "Gabarito";
    font-size: 18pt;
    font-weight: 600;
    margin: 0px;
    width: 85%;
    display: inline-block;
    background-color: #DECFD7;
    padding: 8px 18px 8px 18px;
    border-radius: 14px;
    border-color: #175a4c;
    border-style: double;
    border-width: 4px;
}
.article-display-third-textline{
    display: flex;
    height:30%;
    justify-content: center;
}
.article-display-link-wrap{
    display: flex;
    align-items: center;
    padding:0px;
    height:100%;
    margin-left: 2%;
}
.article-display-link{
    font-size: 18pt;
    font-weight: 600;
    font-family: "Gabarito";
    font-size: 18pt;
    text-align: center;
    width: 100%;
    margin: 0px;
    margin-top: 22px;
    display: inline-block;
    background-color: #DECFD7;
    padding: 8px 320px 8px 320px;
    border-radius: 14px;
    border-color: #175a4c;
    border-style: double;
    border-width: 4px;
}
.article-display-right{
    height: 97%;
    width:18%;
    margin-left: 1.4%;
}
.article-display-image{
    height: 100%;
    width: 100%;
    border-width: 4px;
    border-radius: 10px;
    border-style:double;
    border-color:#175a4c;
}